{% extends 'portfolio/base.html' %}

{% block content %}





            {% load static %}
            <!-- <a href="{% url 'blogapp:all_blogs' %}">Hobbies</a> -->
            <div class="row justify-content-center my-3">
              <div class="col-5">
                  <a href="http://127.0.0.1:8000/static/portfolio/50165432_2331561090187377_5777508780157698048_o.jpg">
                    <img src="{% static 'portfolio/50165432_2331561090187377_5777508780157698048_o.jpg' %}" width="400" height="400" class="img-fluid">
                  </a>
              </div>
            </div>
            <div class="row justify-content-center mb-3">
              <div class="col-md-9 text-center">
                <h1 id="hometext" class="font-weight-bold">Deekshith Hari is a self-taught programmer and lives in Bangalore,India 😊</h1>
              </div>
            </div>
            <h2 class="mt-5">Portfolio</h2>
            <hr>
            <div class="row">
            {% for project in projects %}
            <div class="col-lg-4 col-md-6">

              {% if project.url %}
              <a href="{{ project.url }}">
                <img src="{{ project.image.url }}" class="img-fluid mb-2">
              </a>
              {% else %}

              <img src="{{ project.image.url }}" class="img-fluid mb-2">
              {% endif %}
              <h3>{{ project.title }}</h3>
              <p>{{ project.description }}</p>

            </div>
            {% endfor %}
          </div>

          {% endblock %}
